# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/Grafika Projekt/v15/Browse.VC.db
*.json
*.sqlite
.vs/szescian/v15/.suo
.vs/szescian/v15/Browse.VC.db
.vs/szescian/v15/Browse.VC.opendb
.vs/szescian/v15/ipch/AutoPCH/dfe351c4c76217b/GL_TEMPLATE.ipch
szescian/x64/Debug/szescian.log
szescian/x64/Debug/szescian.log
*.log
szescian/x64/Debug/szescian.log
szescian/x64/Debug/szescian.tlog/link.read.1.tlog
